* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
a {
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 80px;
  margin-bottom: 80px;
}

h2 {
  font-size: 64px;
  margin-bottom: 80px;
}

h3 {
  font-size: 40px;
  margin-bottom: 32px;
}

a {
  font-size: 32px;
}

p,
small {
  font-weight: normal;
}

p {
  font-size: 24px;
  line-height: 40px;
}

small {
  font-size: 20px;
}

footer {
  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-transform: capitalize;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 100px 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-dark {
  background-color: #312b29;
  color: #fff;
}

.section-light {
  background-color: #fff;
  color: #000;
}

.btn {
  padding: 20px 30px;
  border-radius: 10px;
  border-style: solid;

  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-contained {
  border-color: #ef3c46;
  background-color: #ef3c46;
}

.btn-outlined {
  border-color: #fff;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-buttons {
  display: flex;
  flex-direction: row;
  row-gap: 32px;
  column-gap: 32px;
}

.section-content {
  width: 60%;
}
.section-content-img {
  width: 25%;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 64px;
    margin-bottom: 60px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  a {
    font-size: 24px;
  }

  p {
    font-size: 20px;
    line-height: 32px;
  }

  small {
    font-size: 16px;
  }

  .content-buttons {
    flex-direction: column;
  }

  .section {
    padding: 100px 100px;
  }
}

@media screen and (max-width: 900px) {
  .section {
    padding: 80px 80px;
  }

  .section-content {
    width: 100%;
  }
  .section-content-img {
    display: none;
  }
}
